body {
    background-color: #fafafa;
}

div.container {
    background-color: #fff;
    min-height: 100vh;

}

.company h1 {
    color: rgb(144, 83, 83, 0.87);
}

span#companyName {
    color: #0d47a1;
}

span.right {
  text-align: right;
  color: grey;
}

div.new {
    text-align: right;
    height: 140px;
    line-height: 140px;
}

.new {
    font-size: 18px;
}

footer p {
    text-align: center;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 50px;
}

div.section {
    margin-left: 40px;
    margin-right: 40px;
}

div.row {
    margin-bottom: 0;
}

p {
  margin: 0;
}

img {
  float: left;
  margin-right: 10px;
  display: block;
  margin-bottom: 0;
}
div.advertDetails {
  font-size: 18px;
}

/* Change default color of underline input and label in Materialize.css */
.input-field .prefix.active, .active {
  color: #4b70a9 !important;
}

input:focus {
  border-bottom: 1px solid #4b70a9 !important;
  box-shadow: 0 1px 0 0 #4b70a9 !important;
}
.dropdown-content li > span {
  color: #4b70a9 !important;
}
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4b70a9 !important;
    box-shadow: 0 1px 0 0 #4b70a9 !important;
}

/* change colour of filled in check box */
.checkbox-blue-grey[type="checkbox"].filled-in:checked + span:not(.lever):after
{
    border: 2px solid #4b70a9;
    background-color: #4b70a9;
}
.addAdvert{
  background: #4b70a9 !important;
}
footer {
  margin-top: 30px;
   position:absolute;
   bottom: 0;
   max-width: 1280px;
   width: 100%;
   height:40px;   /* Height of the footer */
}
